{% extends 'base.html.twig' %}


{% block body %}
<div class="w-100 row d-flex justify-content-center">
        <div class="col-3 d-none d-md-block">
            <div class="card border-0 bg-transparent">
                <div class="card-body">
                    <img src="asset/cat.fond/cuisinier.png" class="card-img-top img-fluid" alt="Cuisinier">
                </div>
            </div>
        </div>

        <div class="  col-10 col-md-8  " >
        <h1>Mentions légales</h1><br> 
 <h2>Société éditrice du site</h2>

<h5>The District</h5>
SAS au capital de 30.220 euros<br>
RCS Nanterre n° 828 758 607 00022<br>
N° TVA : FR 60 228758607<br>
Code NAF : 2291A<br>
Siège social : <br>
22 rue paradis ,13008 Marseille<br>
Tél : 06 20 16 30 22<br>
Mail : contact@the_district.com</p><br>

<h2>Directrice de publication</h2>

<p> Sara Dosana<br>
Mail : lsf.tdg@gmail.com</p>

<h2>Hébergeur du site </h2>

<p> DSN<br>
    SAS au capital de 10.069.220 euros<br>
Siège social :<br>
22 rue de la paix , 75000 Paris<br>
Tél : 1022<br>
Mail : contact@dsn.com
</p>

</div>
</div>
<div class="w-100 d-flex justify-content-center"> <a type="submit" class="btn btn-dark t " href="{{path('app_accueil')}}">Retourner sur la page d'acceuil</a></div>

{% endblock %}
