<h1>Bienvenue !</h1>

<p>
 Merci de confirmer votre adresse mail en cliquant sur le lien suivant, s'il vous plaît : <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme que c'est mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Toute l'équipe the District vous souhaite la bienvenue !
</p>
